---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      ¿Quieres conversar? <a
        href="mailto:contact.davidpill@gmail.com?subject=Contacto%20desde%20Portfolio"
        class="link link-hover text-primary"
        >escríbeme un correo</a
      > y te responderé en cuanto pueda.
    </p>
  </aside>
</footer>